@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffff0;
  overscroll-behavior: none;
  overflow: hidden;
}

.heroText {
  font-family: 'Tektur', cursive;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.navText {
  font-family: "Anybody", sans-serif;
  font-weight: bolder;
}
