@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0;
} */

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    circle 915px at 25% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  overscroll-behavior: none;
  overflow: hidden;
}
